{% extends 'core/base.html' %} 
{% block title %} Welcome| Pudle {% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class ="mb-12 text-2xl text-center">Newest Items</h2>
        <div class ="grid grid-cols-3 gap-3">
            {% for item in items %}
            <div class="">
                <a href="{% url 'item:details' item.id %}">
                    <div class="p-6 bg-gray-200 rounded-xl">
                        <img src="{{ item.image.url }}" class = "object-cover h-60 w-96 rounded-xl" alt="#">
                    </div>
                    <div class="p-6 bg-white rounded-xl">
                        <h3 class="text-xl">{{ item.name }}</h2>
                        <p class="text-gray-500">Price: {{ item.price }} USD</p>

                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class ="mb-12 text-2xl text-center">Categories</h2>
        <div class ="grid grid-cols-3 gap-3">
            {% for category in categories %}
            <div class="">
                <a href="#">
                    <div class="p-6 bg-white rounded-xl">
                        <h3 class="text-xl">{{ category.name }}</h2>
                        <p class="text-gray-500">{{ category.items.count }} Items</p>

                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
